* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ececec;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: red;
}

h2 {
    color: rgb(199, 208, 34);
}

span {
    font-size: 50px;
    color: blue;
    padding: 0 20px;
    font-style: normal;
}

#container #comparsa {
    display: none;
}

p {
    font-style: italic;
}

#container #comparsa.visible {
    display: inherit;
}
